.centerd{
    position: relative;
    text-align: center;
    color: blue;
    bottom: 350px;
    
}


.ts-item{
    width: 700px;
    margin-left: 430px;
}
.carousel-control-prev-icon{ 
    height: 40px;
    width: 40px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    stroke-width: 100px;
    margin-left: 20px;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: invert(1);
    margin-bottom: 50px;
    
}
.carousel-control-next-icon{
    height: 40px;
    width: 40px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    stroke-width: 100px;
    margin-left: 20px;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: invert(1);
    margin-bottom: 50px;
}

.carousel-control-prev-icon-1{
    height: 35px;
    width: 35px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    stroke-width: 100px;
    margin-left: 70px;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 80px;
   
}

.carousel-control-next-icon-1{
    height: 35px;
    width: 35px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    stroke-width: 100px;
    margin-left: 70px;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 80px;
}


/* .check-in{
    background-color: white;
    margin-inline: 20px;
    padding: 10px;
    height: 50px;
    position: absolute;
    top: 303px;
    width: 250px;
   
    
} */
/* .check-out{
    background-color: white;
    margin-inline: 20px;
    padding: 10px;
    height: 50px;
    position: absolute;
    top: 303px;
    width: 250px;
    margin-right: 50px;
    
} */


/* .searchbar{
    background-color: white;
    margin-inline: 230px;
    width: 23%;
    border: 3px solid black;
    padding: 10px;
    height: 50px;
    position: absolute;
    top: 303px;
    margin-left: 10px;
    
} */



/* margin-inline: 15px; */
/* margin-inline: 39px; */

